body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 800px;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 100px;
    height: 70px;
    border: 3px solid blue;
    background-color: white;
}
