table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color:rgb(1, 152, 122);
    color: white;
  }
  tr:nth-child(even){background-color: rgb(221, 221, 221);}
  tr:hover {
    background-color: #ddd; 
  }