        body {
            font-family: Arial,;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #082542;
            color: white;
            text-align: center;
        }
        h1 {
            margin: 0;
        }
        .container {
            width: 80%;

        }
        .superman-image {
           height: 500px;
            }
        h2 {
            color: #003366;
        }
        footer {
            background-color: #003366;
            color: white;
            text-align: center;
            padding: 10px;
        }
