@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #f39c12;
    font-weight: bolder;
}

.image-container {
    margin-top: 10px;
    background-image: url(./assets/icons/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: -100px 0px;
    border: 2px solid coral;
}

body {
    font-family: "Poppins", serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px;
    background-image: url(./assets/image/lion-bg.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;


}